      - name: Сборка
        run: |
          cd ~/twrp
          source build/envsetup.sh
          export ALLOW_MISSING_DEPENDENCIES=true
          export LC_ALL=C
          lunch twrp_WP27-eng
          mka vendorbootimage
